body {
  max-width: 1500px;
}

table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

details {
  margin: 0;
  padding: 0;
}

.copy-to-clipboard {
  display: inline-block;
  font-size: 0.8em;
  padding: 0.2rem;
  border: 1px solid #ccc;
}